{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
        <title>PDF</title>
    </head>
   
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        
        {% block content %}
        {% endblock %}

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
        <!-- <div id="root"></div>
        <div id="root2"></div> -->
        <script src="{% static 'dist/app.bundle.js'%}"></script>
    </body>
</html>